/*Site wide default styling*/
a,p,h1,h2,h3,h4,li
{
    font-family: Roboto;
    color: #6aabe3;
    margin: 0;
    padding: 0;
}
a 
{
    /*Remove underline*/
    text-decoration: none;
}
/*Sorts out header*/
header a
{
    /*For complete-ness*/
    display: inline-block;
    padding-top: 0.5vw;
}
body 
{
    background-color: #222223;
    margin: 0;
    overflow: scroll;
}
/*Header container*/
header 
{
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: sticky;
    box-shadow: 1vw 0.2vw 1vw #121212;
    background-color: #272728;
    height: 6vw;
    text-align: center;
    font-size: 4vw;
    font-weight: lighter;
}
/*Space between each section*/
section
{
    padding-bottom: 9vw;
    overflow: auto;
}
footer p
{
    text-align: center;
    font-size: 1.2vw;
    font-family: Consolas,monospace;
    color: #f97979;
    padding-top: 20vw;
    padding-bottom: 1vw;
}
/*Nice clean underline*/
u
{
    text-decoration: underline;
    text-decoration-thickness: 0.4vw;
}
/*Spaces content away from sidebar*/
.main-container
{
    margin-left: 9vw;
}
/*Nice little effect*/
.header-item:hover 
{
    color: #f97979;
}
/*Header item seperator*/
.divider 
{
    color: #f97979;
    font-size: 4vw;
    display: inline-block;
    pointer-events: none;
}
/*Spacing away from section parent*/
.section-header
{
    padding-top: 6vw;
    padding-bottom: 1vw;
}
/*Styling each section title*/
.section-header h3
{
    font-size: 4vw;
    font-weight: lighter;
    color: #f97979;
}
/*Styling each section short desc*/
.section-header p
{
    padding-top: 1vw;
    font-weight: lighter;
    font-size: 2vw;
}
.title-container
{
    /*Spacing away from section parent*/
    padding-top: 6vw;
}
/*Title styling*/
.title-container h1
{
    font-size: 12vw;
    font-weight: lighter;
    /*Strange*/
    margin-left: -1vw;
}
/*Sub title styling*/
.title-container h2
{
    font-size: 4vw;
    font-weight: lighter;
    color: #f97979;
}
/*Short info + generator container*/
.short-info 
{
    width: 100%;
    padding-top: 5vw;
}
/*Short Info*/
.short-info p
{
    
    width: 60%;
    float: left;
    /*Padding between table*/
    padding-right: 6vw;
    /*Padding between table if vertical align*/
    padding-bottom: 2vw;
    font-weight: lighter;
    font-size: 2vw;
}
/*Button aligns to canvas*/
.sub-container
{
    text-align: center;
}
/*Generator button*/
.sub-container button
{
    background-color: #2e2e2e;
    border: 0;
    /*Sticking with gross pixels because of the canvas*/
    height: 30px;
    width: 100%;
    color: #f97979;
    font-size: 24px;
}
/*Canvas*/
#canvas-grid
{
    float: left;
    border: 0.2vw solid #2e2e2e;
}
/*Progress bar*/
#progBar
{
    height: 0.3vw;
    background: #f97979;
    width: 0%;
    margin-top: 0.7vw;
}
/*Social transform*/
.social-bar
{
    position: fixed;
    bottom: 5%;
}
/*Social icons*/
.social-bar a,
.social-bar i
{
    display: block;
    text-align: center;
    padding-left: 1.5vw;
    padding-bottom: 2vw;
    color: #6aabe3;
    font-size: 2.6vw;
}
/*List icon*/
.fa-li i
{
    color: #f97979;
}
/*Unordered List*/
.fa-ul
{
    margin: 0;
    padding-left: 2vw;
}
/*List element*/
.fa-ul li
{
    color: #6aabe3;
    font-weight: normal;
    font-size: 1.5vw;
}
/*Featured project container*/
.project
{
    /*Spaces data and keeps background*/
    padding-right: 2vw;
    margin-bottom: 2vw;
    /*Keeps order in these parts*/
    overflow: hidden;
    background-color: #272728;
    /*Nothing like some effects*/
    box-shadow: 0vw 0.2vw 0.5vw 0.3vw #1b1b1b;
    border-radius: 0.4vw;
    position: relative;
}
/*Styling till your hearts content*/
.project h2
{
    font-size: 2vw;
    padding-bottom: 1vw;
    text-align: right;
    color: #f97979;
    font-family: Consolas,monospace;
}
/*Featured project*/
.project h3
{
    font-family: Consolas,monospace;
    font-size: 1.5vw;
    text-align: right;
    color: #f97979;
    padding-top: 1vw;
}
/*Extra info*/
.project h4
{
    font-family: Consolas,monospace;
    font-size: 1.4vw;
    color: #f97979;
    text-align: right;
    padding-bottom: 1vw;
    float: right;
}
/*Desc*/
.project p
{
    padding-bottom: 1vw;
    text-align: right;
    font-size: 1.5vw;
}
/*What you're really here for*/
.project img
{
    padding: 0.8vw 1.2vw 0.8vw 0.8vw;
    float: left;
    width: 60%;
    border-radius: 1.5vw;
    min-width: 160;
    min-height: 90;
    background-image: #2e2e2e;
}
.project img:hover
{
    opacity: 80%;
}
/*What does the vault even contain?*/
.vault-link
{
    font-size: 2vw;
    padding-top: 1vw;
    color: #f97979;
}
/*The notable, but not as notable project container*/
.project-extra
{
    padding-top: 4vw;
    text-align: center;
}
/*The not-so note worthy projects title*/
.project-extra h4
{
    font-size: 3vw;
    font-weight: lighter;
    padding-bottom: 1vw;
}
/*Here they come! All in their mini project containers*/
.mini-project
{
    width: 48%;
    float: left;
    background-color: #272728;
    box-shadow: 0vw 0.2vw 0.5vw 0.3vw #1b1b1b;
    /*Making responsiveness difficult*/
    margin-right: 1%;
    margin-bottom: 1vw;
    position: relative;
    border-radius: 1%;
}
/*Mini project icon*/
.mini-project span
{
    font-size: 2vw;
    color: #6aabe3;
    float: left;
    position: relative;
    top: 0;
    padding: 1vw 1vw 1vw 1vw;
}
/*Mini project container*/
.mini-data
{
    padding: 1vw 2vw 2vw 2vw;
}
/*Mini project title*/
.mini-data h2
{
    font-family: Consolas, monospace;
    color: #f97979;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
    font-size: 2.2vw;
}
/*Mini project desc*/
.mini-data p
{
    font-size: 1.2vw;
}
/*Mini project tag*/
.mini-data h4
{
    font-family: Consolas, monospace;
    font-size: 1vw;
    color: #f97979;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1vw 1vw 0vw 1vw;
}
/*Contains all the minis*/
.grid
{
    /*I said, don't touch that other element*/
    padding-top: 2vw;
    /*Remain FULL*/
    width: 100%;
    /*Fixes collapsing margins*/
    overflow: auto;
}
/*Container of about*/
.about-data
{
    /*Setting less to allow padding*/
    width: 58%;
    float: left;
    padding-right: 1vw;
    padding-bottom: 2vw;
}
/*Description of me kinda*/
.about-data p
{
    font-size: 1.5vw;
    padding-top: 1vw;
}
/*My old drawing of me*/
.about-me img
{
    /*Setting less, to allow padding*/
    width: 38%;
    float: right;
    /*Resolves radius issue*/
    margin-right: 2vw;
    border-radius: 1vw;
    /*Don't wanna be too large*/
    max-width: 24vw;
    max-height: 24vw;
    box-shadow: 0vw 0.2vw 0.5vw 0.3vw #1b1b1b;
}
/*Contact link container*/
.contact-me
{
    padding-top: 1vw;
}
/*Contact link styling*/
.contact-me a
{
    font-size: 2.4vw;
    border-width: 0.3vw;
    border-style: dashed;
    border-color: #f97979;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}
/*Entry container*/
.entry
{
    padding-bottom: 0.4vw;
    width: 80%;
}
/*Dropdown button*/
.entry button
{
    background-color: #222223;
    border: none;
    text-align: left;
    font-size: 1.5vw;
    width: 100%;
    cursor: pointer;
    color: #6aabe3;
    outline: none;  
    font-family: Consolas,monospace;
    padding-left: 0;
}
/*Down caret*/
.entry i 
{
    font-size: 60%;
    padding-left: 0.7vw;
}
.fa-caret-right
{
    color: #f97979;
    padding-right: 1vw;
}
/*Dropdown tags*/
.entry h4
{
    color: #f97979;
    padding-bottom: 0.3vw;
    font-family: Consolas,monospace;
    font-size: 1.2vw;
}
/*Dropdown info*/
.entry div
{
    font-size: 1.6vw;
    padding-left: 1vw;
    display: none;
    box-shadow: 0.2vw 0.2vw 0.2vw #121212;
}
/*Dropdown text*/
.entry p
{
    font-size: 1.4vw;
    font-family: Consolas,monospace;
    color: #6aabe3;
    padding-top: 0.4vw;
    padding-right: 1vw;
    padding-bottom: 0.4vw;
}
.entry img
{
    padding: 0.8vw 0.8vw 0vw 0vw;
    background-image: #2e2e2e;
    max-height: 18vw;
    width: auto;
}
.entry-drop span
{
    font-family: Consolas,monospace;
    font-size: 1vw;
    padding-right: 0.5vw;
}
.exp-info button
{
    font-family: Roboto;
}
.exp-info a 
{
    color: #f97979;
    font-family: Consolas,monospace;
}
.exp-info p
{
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    font-family: Consolas,monospace;
    font-size: 1.2vw;
}
.exp-info span
{
    font-family: Consolas,monospace;
    font-size: 1vw;
}
.languages p
{
    font-family: Consolas,monospace;
    padding-top: 0.2vw;
}
/*Small styling*/
span
{
    color: #f97979;
}
/*When width <=768px*/
@media screen and (max-width: 720px) {
    .mini-project {
        /*Fill width with small margin*/
        width: 98%;
        margin-right: 2%;
        /*No longer float to left*/
        float: none;
    }
    .about-me img
    {
        float: none;
    }
    .about-data
    {
        float: none;
    }
}