* {
	box-sizing: border-box; /*Includes padding and border in element's total width and height*/
}
a,p,h1,h2,h3,h4,li {
    font-family: 'Roboto', monospace;
    color: #6aabe3;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: #222223;
    margin: 0;
}
header {
    z-index: 1;
    top: 0;
    width: 100%;
    position: sticky;
    box-shadow: 1px 1px 4px #1c1c1c;
    background-color: #272728;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}
.header-item:hover {
    color: #f97979;
}
.divider {
    color: #f97979;
    font-size: 2rem;
    display: inline-block;
    pointer-events: none;
}
section {
    padding-top: 4rem; /*Fixes hiding under navbar*/
    padding-bottom: 8rem; /*Spacing for section jumping*/
    overflow: auto;
}
footer {
	padding-top: 4rem; /*Section jumping*/
    padding-bottom: 1rem;
	text-align: center;
}
footer p, footer a {
    font-size: 1rem;
    font-family: Consolas, monospace;
    color: #f97979;
}
footer a:hover {
    color: #6aabe3;
}
u {
	font-family: 'Roboto', monospace;
    text-decoration: underline;
    text-decoration-thickness: 0.03em;
	text-underline-offset: 2px;
}
span {
    color: #f97979;
}
.main-container {
	margin-left: 10%;
	margin-right: 10%;
}
#progBar {
    height: 0.3rem;
    background: #f97979;
    width: 0%;
}


.social-bar {
    position: fixed;
	left: 4%;
    bottom: 0;
}
.social-bar a,
.social-bar i {
    display: block;
    text-align: center;
    padding-top: 0.8em;
    color: #6aabe3;
    font-size: 1.5rem;
}
.social-bar i:hover {
    color: #f97979;
}
.email {
    text-align: center;
    color: #6aabe3;
	font-family: Consolas, monospace;
    font-size: 1.2rem !important;
	font-weight: 300;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
.email:hover {
    color: #f97979;
}
/*Flare!*/
.social-bar::after {
	content: "";
	display: block;
	width: 2px;
	height: 100px;
	margin: auto;
	margin-top: 10px;
	margin-left: 8px;
	background-color: #6aabe3;
}



.title-container h1 {
    font-size: 4rem;
    font-weight: 200;
}
.title-container h2 {
    font-size: 3rem;
    font-weight: 200;
    color: #f97979;
}
.title-container-icon {
	display: inline-block;
	vertical-align: top;
	margin-right: 2rem;
}
.title-container-icon img {
	pointer-events: none;
	border-radius: 5%;
	height: 10rem;
    width: 10rem;
	box-shadow: 0px 2px 1px 1px #1b1b1b;
}
.title-container-text {
	display: inline-block;
	vertical-align: top;
}

.long-info {
	padding-bottom: 1em;
}


.about-me-container {
	padding-top: 1em; /*Upward spacing between title and details*/
}
/*My details*/
.about-me-container p {
	font-family: Consolas, monospace;
	font-weight: 200;
	font-size: 1rem;
}
.languages {
	padding: 0.5rem 0.5rem 0.5rem 0rem; /*Upward spacing between point lists*/
}
/*List header*/
.languages h4 {
    font-family: Consolas, monospace;
	font-weight: 300;
	color: #f97979;
    font-size: 1rem;
}
/*Right carat*/
.languages i {
	font-size: 1rem;
	color: #f97979;
    padding-right: 0.5rem;
}
/*List content*/
.languages p {
    font-family: Consolas, monospace;
	font-size: 1rem;
    padding-top: 0.5rem;
}


/*Spacing away from section parent*/
.section-header h3 {
    padding-bottom: 0.3em;
	font-size: 3rem;
    font-weight: 200;
	text-align: left;
    color: #f97979;
}
.section-header p {
	font-family: Consolas, monospace;
	font-weight: 200;
	text-align: left;
    font-size: 1rem;
	padding-bottom: 1em;
}
.section-header b {
	font-weight: 700;
	text-shadow: 0.5px 0 #6aabe3;
	letter-spacing: 0.5px;
}


/*Featured project container*/
.project {
    margin-bottom: 2rem; /*Spaces blocks, keeping background*/
	padding: 10px;
    overflow: hidden; /*Keeps order in these parts*/
    background-color: #272728;
    box-shadow: 0px 5px 3px 2px #1b1b1b; /*Nothing like some effects*/
    border-radius: 0.4rem;
	position: relative;
}
/*Featured project label*/
.project h3 {
    font-family: Consolas, monospace;
    font-size: 1rem;
    text-align: left;
    color: #f97979;
}
/*Featured title*/
.project h2 {
    font-size: 2rem;
    text-align: left;
    color: #f97979;
    font-family: Consolas, monospace;
}
.project img {
    float: right;
    width: 40%;
    border-radius: 1rem;
	margin-left: 20px;
}
.project p {
	font-family: Consolas, monospace;
    text-align: left;
    font-size: 1rem;
	padding-top: 10px;
	padding-bottom: 40px;
}
.project h4 {
    font-family: Consolas, monospace;
    font-size: 1rem;
    color: #f97979;
    text-align: left;
	position: absolute;
	bottom: 10px;
    left: 10px;
}
.clickable-img img:hover {
    opacity: 80%;
}
.vault-link {
	font-size: 1.25rem;
}
.web-link {
	font-family: Consolas, monospace;
    color: #f97979;
}
.web-link:hover {
    color: #6aabe3;
}




.project-extra {
    padding-top: 1em;
    text-align: center;
}
/*Other projects header*/
.project-extra h4 {
    font-size: 3rem;
    font-weight: 200;
	color: #f97979;
}
/*Contains all the minis*/
.grid {
	display: flex;
	flex-wrap: wrap;

    /*width: 100%;*/
    overflow: auto; /*Fixes collapsing margins*/
	margin-top: 20px;
}
.column {
	flex: 48%;
	max-width: 48%;
	padding: 10px;
}
/*Here they come! All in their mini project containers*/
.mini-project {
    /*width: 48%;
    float: left;*/
    background-color: #272728;
    box-shadow: 0px 4px 3px 2px #1b1b1b;
    margin: 2px;
	margin-bottom: 10px;
    /*position: relative;*/
    border-radius: 1%;
}
/*Mini project icon*/
.mini-project span {
    float: left;
    position: relative;
    top: 23px;
    left: 20px;
	width: 25px;
    height: 25px;
    background-color: #222223; 
	box-shadow: inset 0px 4px 3px 2px #1b1b1b;
    border-radius: 50%;        
}
/*Mini project container*/
.mini-data {
    padding: 20px;
	padding-bottom: 40px;
}
/*Mini project title*/
.mini-data h2 {
    font-family: Consolas, monospace;
	font-size: 1.5rem;
	text-align: center;
    color: #f97979;
    padding-top: 0px;
	padding-left: 40px;
	padding-right: 40px;
    padding-bottom: 0.5em;
}
/*Mini project desc*/
.mini-data p {
	font-family: Consolas, monospace;
    font-size: 1rem;
	text-align: justify;
}
/*Mini project tag*/
.mini-data h4 {
    font-family: Consolas, monospace;
    font-size: 1rem;
    color: #f97979;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}
.entry {
	line-height: 0;
	padding-bottom: 0.25em;
}
/*Dropdown button*/
.entry button {
	font-family: Consolas, monospace;
	font-weight: 100;
    font-size: 1.25rem;
	text-align: left;
    background-color: #222223;
    border: none;
    width: 100%;
    cursor: pointer;
    color: #6aabe3;
    outline: none;  
    padding: 0;
	white-space: nowrap;
}
/*Slightly more contrast*/
.entry b {
	font-weight: 700;
	text-shadow: 0.5px 0 #6aabe3;
	letter-spacing: 0.5px;
}
/*Down caret*/
.fa-caret-down {
    font-size: 0.5rem;
    padding-left: 0.2rem;
}
.fa-caret-right {
    color: #f97979;
    padding-right: 0.5rem;
	vertical-align: middle;
	font-size: 1rem;
}
/*Dropdown info*/
.entry div {
    display: none;
	padding: 10px;
    box-shadow: 10px 2px 5px #121212;
}
/*Dropdown text*/
.entry p {
    font-size: 1rem;
    font-family: Consolas, monospace;
	padding-bottom: 20px;
    color: #6aabe3;
}
.entry img {
	margin: 5px;
    background-image: #2e2e2e;
    max-height: 20rem;
	max-width: 100%;
}
.entry video {
	margin: 5px;
    background-image: #2e2e2e;
	max-height: 20rem;
    max-width: 100%;
}
.entry-drop {
	line-height: normal;
}
/*Individual dropdown tags*/
.entry-drop span {
    font-family: Consolas, monospace;
    font-size: 1rem;
    padding-right: 0.5rem;
}
.exp-info {
	line-height: normal; /*Ignore vault line spacing*/
	padding-bottom: 0.25rem;
}
/*Dropdown info*/
.exp-info div {
    display: none;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	box-shadow: 2px 2px 2px #121212;
}
.exp-info button {
	text-align: left;
    background-color: #222223;
    border: none;
    width: 100%;
    cursor: pointer;
    color: #f97979;
    outline: none;  
    padding: 0 0 0 0;
	white-space: nowrap;
    font-family: 'Consolas', monospace; /*Work places*/
	font-weight: 300;
	font-size: 1.25rem
}
.exp-info a {
    color: #f97979;
    font-family: Consolas, monospace;
}
.exp-info i {
    font-size: 1rem;
}
.exp-info p {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: Consolas, monospace;
    font-size: 1rem;
}
.exp-info span {
    font-family: Consolas, monospace;
    font-size: 1rem;
}
.policy-entry h4 {
    padding-top: 1em;
    padding-bottom: 0.25em;
    font-family: Consolas, monospace;
    font-size: 2rem;
    color: #f97979;
}
.policy-entry p {
    padding-top: 0.2em;
    font-size: 1rem;
    font-family: Consolas, monospace;
    color: #6aabe3;
}
.policy-entry b {
    font-size: 1rem;
    font-family: Consolas, monospace;
    color: #f97979;
}
/* For mobile phones*/
[class*="col-"] {
	float: left;
	width: 100%;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/*When less than*/
@media only screen and (max-width: 350px) {
	.email-bar a,
	.social-bar a,
	.social-bar i {
		font-size: 0.5rem !important;
	}
	.social-bar::after {
		width: 1px;
		margin-left: 3px;
	}
}
/*When less than*/
@media only screen and (max-width: 800px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
	.social-bar {
		left: 3%;
	}
	.title-container-icon {
		display: none; /*Hide icon on small devices*/
	}
	/*(vw * viewport width) / 100 = pixel*/
	/*6.0vw*/
	.title-container h1 {
		font-size: 48px;
	}
	/*4.0vw*/
	.policy-entry h4,
	.section-header h3,
	.title-container h2 {
		font-size: 32px;
	}
	/*3.0vw*/
	.project-extra h4 {
		font-size: 24px;
	}
	/*2.5vw*/
	.social-bar a,
	.social-bar i,
	.divider, header {
		font-size: 20px;
	}
	/*2.0vw*/
	.exp-info button,
	.mini-project span,
	.project h2 {
		font-size: 16px;
	}
	/*1.75vw*/
	.email-bar a {
		font-size: 14px;
	}
	/*1.5vw*/
	.exp-info p,
	.policy-entry b,
	.policy-entry p,
	.mini-data h2 {
		font-size: 12px;
	}
	/*1.2vw*/
	footer p, 
	footer a,
	.entry button,
	.exp-info span,
	.mini-data p,
	.project p,
	.entry h4,
	.fa-caret-down,
	.vault-link,
	.section-header p,
	.languages h4,
	.long-info p {
		font-size: 9.6px;
	}
	/*1vw*/
	.entry-drop span,
	.fa-caret-right,
	.exp-info i,
	.entry p,
	.entry div,
	.mini-data h4,
	.project h4,
	.project h3,
	.languages i,
	.languages p {
		font-size: 8px;
	}
	/*0.5vw*/
	.fa-caret-down {
    	font-size: 4px;
	}
}

/*When less than*/
@media only screen and (max-width: 1180px) {
	.entry video,
	.entry img,
    .project img {
		display: none; /*Hide icon on small devices*/
	}
}

/*When more than*/
@media only screen and (min-width: 1000px) {
	.entry img {
		max-width: 800px;
		max-height: 500px;
	}
	.entry video {
		max-width: 800px;
		max-height: 500px;
	}
}

/*When more than*/
@media only screen and (min-width: 720px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-2-5 {width: 20.825%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-9-5 {width: 79.165%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}